// offset variable gets tacked for centering in addition to the scaling

offsets = translateX(-50%) translateY(-50%)
.likes-heart
  opacity 0
  transition all 0.5s // time to fade out after its done
  transform offsets scale(5) // this is the "end state"
  display block
  &.like-enter
    transition all .2s
    transform offsets scale(1)
    opacity 1
    &.like-enter-active
      transform offsets scale(5)
  .like-leave-active
    display none

.wheel {
  animation: rotate 5s infinite alternate;
  transform-origin: 35% 35%
}

.expansion {
  animation: expand 5s ease-out infinite alternate;
  transform-origin: 0% 100%;
}

.animated {
  animation: dash 5s infinite;
}

.transform {
  transform: rotate(90deg);
  transform-origin: 50%;
}

.rotate {
  animation: rotating 3s cubic-bezier(0,0,1,1) infinite alternate;
  transform-origin: 50% 50%;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes expand {
  50% {
    transform: scaleX(1.5);
  }
}

/*translate(-88px, 507px);
translate(239px, 370px);*/

@keyframes rotating {

  100% {
      transform: rotate(360deg);
  }

}

.g1 {
  transform: translate(70, 25);
}

.g2 {
  transform: translate(78, 9);
}
