/*
  Variables
*/

blue = #125688
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey
darkgrey = #32302f
mediumgrey = #949494

.android
  color: var(--android)

.iOS
  color: var(--iOS)

html
  font-size 10px
  font-family 'Khula', sans-serif;

figcaption
  p
    text-align center
p
  font-size 1.6rem
  line-height 1.5

h1
  text-align center
  font-weight 100
  font-size 3rem
  margin 2rem 0
  letter-spacing -1px
  a
    text-decoration none
    color darkgrey
    &:focus
      outline 0
